<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="verbose" value="${longdate} | ${level} | ${logger} | ${machinename} |${processname} | ${message} ${newline}${exception:format=tostring}"/>
  <variable name="logdir" value="D:/logs/PinkBus.SendActivitySMS.WindowsService" />
  <targets async="true">

    <target name="toLogFile" xsi:type="File"
      keepFileOpen="true"
      layout="${verbose}"
      fileName="${logdir}/infoOut.${shortdate}.log"
     />
    <target name="toMail" xsi:type="Mail" layout="${verbose}" smtpServer="msg02cas.chn.mkcorp.com" from="PinkBus.SendActivitySMS.WindowsService@mkcorp.com"
            to="MDM-DEV-API@mkcorp.com"
            subject="Notification From PinkBus.SendActivitySMS.WindowsService(dev)" />

    <wrapper-target xsi:type="AsyncWrapper" name="asyncFile">
      <target-ref name="toLogFile"/>
    </wrapper-target>

    <wrapper-target xsi:type="AsyncWrapper" name="asyncMail">
      <target-ref name="toMail"/>
    </wrapper-target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="asyncFile" />
    <logger name="*" minlevel="Error" writeTo="toMail" />
  </rules>
</nlog>