<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MKSMSWSSoap1" />
                <binding name="MKSMSWSSoap2" />
                <binding name="MKSMSWSSoap3" />
                <binding name="MKSMSWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.chnqa.mktest.com/MKSMSWebService/MKSMSWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="MKSMSWSSoap1"
                contract="QAMKSMSWS.MKSMSWSSoap" name="MKSMSWSSoap1" />
            <endpoint address="http://webservices.chnuat.mktest.com/MKSMSWebService/MKSMSWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="MKSMSWSSoap2"
                contract="UATMKSMSWS.MKSMSWSSoap" name="MKSMSWSSoap2" />
            <endpoint address="http://webservices.chndmz.com/MKSMSWebService/MKSMSWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="MKSMSWSSoap3"
                contract="PRODMKSMSWS.MKSMSWSSoap" name="MKSMSWSSoap3" />
            <endpoint address="http://webservices.chnqa.mktest.com/MKSMSWebService/MKSMSWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="MKSMSWSSoap"
                contract="DEVMKSMSWS.MKSMSWSSoap" name="MKSMSWSSoap" />
        </client>
    </system.serviceModel>
</configuration>