@section FooterScripts{
 <script>
     var ticketKey = '@Request.QueryString["TicketKey"]';     
     var unionid = '@ViewData["unionid"]';
     // var headImgUrl = '@ViewData["headImgUrl"]';
     var headImgUrl = '';
     require(['views/Home'])
    </script>   
 }
<main>
    <header class="header-card">
        <div class="header-title">
            <h1><span id="card-type"></span></h1>
            <p class="title-des">               
                <img src="~/Content/Images/line-bg.png" alt="" class="fl">
                <span id="card-eventTitle"></span>
                <img src="~/Content/Images/line-bg.png" alt="" class="fr">
            </p>
            <div class="header-item"><span class="card-icon card-icon-map"></span>
            <p class="header-item-location">
                <span id="card-location"></span>
                </p></div>
            <div class="header-item"><span class="card-icon card-icon-clock"></span>
            <p class="header-item-date">
                <span id="card-dateTime"></span></p></div>
        </div>
        <div class="header-sec">
            <table class="table">
                <tbody>
                    <tr>
                        <td><a id="card-tel" href="tel:15117146077"><span class="callout"></span>电话</a></td>
                        <td><span class="middle-line"></span></td>
                        <td><a id="card-sms" href="sms:13588669999"><span class="icon-sms"></span>短信</a></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="header-item"><span class="card-icon card-icon-user"></span><p class="header-item-name">邀请人 <span id="card-consultantName"></span></p> </div>
                <div class="header-item"><span class="card-icon card-icon-tel"></span><p class="header-item-name"><span id="card-consultantPhone"></span></p> </div>
            </div>
        </div>
    </header>
    <section class="info-form" style="display:none;">
        <form class="pure-form info-form-aligned">
            <fieldset>
                <legend>填写信息</legend>
                <input id="ticketKey" type="hidden" name="ticketKey" value="" />
                <div class="pure-control-group">
                    <label for="name">姓名 <span>(必填)</span></label>
                    <div class="input-con">
                        <input id="name" name="name" class="required" type="text" placeholder="请填写" maxlength="10">
                    </div>
                    <div id="error_name" class="error-con "></div>
                </div>
                <div class="pure-control-group">
                    <label for="tel">手机号码 <span>(必填)</span></label>
                    <div class="input-con">
                        <input id="tel" name="tel" type="tel" class="required" placeholder="请填写" maxlength="11">
                    </div>
                    <div id="error_phone" class="error-con "></div>
                </div>
                <div class="pure-control-group">
                    <label for="identity">来宾身份 <span>(必填)</span></label>
                    <div class="input-con">
                        <input id="hid-identity" name="identity" type="hidden" class="required" placeholder="请选择 >">
                        <div id="identity" class="info-select info-select-placeholer">请选择 ></div>
                        
                    </div>
                    <div id="error_identity" class="error-con "></div>
                </div>
                <div class="pure-control-group">
                    <label for="age">年龄 <span>(必填)</span></label>
                    <div class="input-con">
                        <input id="hid-age" name="age" type="hidden" class="required" placeholder="请选择 >">
                        <div id="age" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                    <div id="error_age" class="error-con"></div>
                </div>
                <div class="pure-control-group">
                    <label for="profession">职业</label>
                    <div class="input-con">
                        <input id="hid-profession" name="profession" type="hidden" placeholder="请选择 >">
                        <div id="profession" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label for="topic">感兴趣的话题</label>
                    <div class="input-con">
                        <input id="hid-topic" name="topic" type="hidden" placeholder="请选择 >">
                        <div id="topic" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label for="course">是否上过美容课</label>
                    <div class="input-con">
                        <input id="hid-course" name="course" type="hidden" placeholder="请选择 >">
                        <div id="course" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label for="product">是否使用过产品</label>
                    <div class="input-con">
                        <input id="hid-product" name="product" type="hidden" placeholder="请选择 >">
                        <div id="product" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label for="series">用过哪些系列</label>
                    <div class="input-con">
                        <input id="hid-series" name="series" type="hidden" placeholder="请选择 >">
                        <div id="series" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
                <div class="pure-control-group">
                    <label for="content">感兴趣的内容</label>
                    <div class="input-con">
                        <input id="hid-content" name="content" type="hidden" placeholder="请选择 >">
                        <div id="content" class="info-select info-select-placeholer">请选择 ></div>
                    </div>
                </div>
              
                <div class="pure-control info-form-submit">
                    
                    <button id="submitform" type="button" class="pure-button disable">领取邀请券</button>
                </div>
            </fieldset>
        </form>
    </section>
    <section id="card-invalid" class="card-invalid" style="display:none;">
        <img src="~/Content/images/file.png" alt="" class="card-invalid-img">
        <p>
            您邀请的顾客还未提交信息 <br>
            请及时跟进！
            <span class="date-notice">邀约截止时间：<span id="invitedendtime"></span></span>
        </p>
    </section>
    <section id="card-expired" class="card-invalid" style="display:none;">
        <img src="~/Content/images/file.png" alt="" class="card-invalid-img">
        <p>
            邀请券已被领取或已失效 <br>
            请联系您的美容顾问！
        </p>
    </section>    
    <section id="card-successbyconsu" class="card-success" style="display:none;">
        <style>
            .barcode img {
                margin: auto;
            }
        </style>
        <div class="success-notice">
            @*<img src="" alt="" class="card-userhead user-head">*@ <span class="card-customerName"></span> 已成功领取邀请券！
        </div>
        <div class="barcode">
            <div id="container">
                <canvas width="160px" height="160px"></canvas>
            </div>
            @*<img src="./images/tmp1.png" alt="" class="barcode-img">*@
            <br>
            <span class="user-name">来宾：<span class="card-customerName"></span></span>
        </div>
        <div class="user-notice">
            <p class="user-notice__1">请在入口处出示此券</p>
            <p class="user-notice__2">
                此二维码为入场凭证， <br>
                切勿任意转发或复制给其他顾客
            </p>
        </div>
    </section>
    <section id="card-successbyuser" class="card-success" style="display:none;">
        <style>
            .barcode img {
                margin: auto;
            }
        </style>
        <div class="success-notice">
            <p class="screenshot-notice">请截屏或关注玫琳凯中国服务号保存</p>
        </div>
        <div class="barcode">
            <div id="container">
                <canvas width="160px" height="160px"></canvas>
            </div>
            @*<img src="./images/tmp1.png" alt="" class="barcode-img">*@
            <br>
            <span class="user-name"></span>
        </div>
        <div class="user-notice">
            <p class="user-notice__1">请在入口处出示此券</p>
            <p class="user-notice__2">
                此二维码为入场凭证， <br>
                切勿任意转发或复制给其他顾客
            </p>
        </div>
    </section>
</main>