@section FooterScripts{
<script>
     var ticketKey = '@Request.QueryString["TicketKey"]';     
     require(['views/Success'])
</script>
 }
<main>
    <style>
        .barcode img {
        margin:auto;
        }
    </style>
        <header class="header-card">
            <div class="header-title">
                <h1><span id="card-type"></span></h1>
                <p class="title-des">
                    <img src="~/Content/Images/line-bg.png" alt="" class="fl">
                    <span id="card-eventTitle"></span>
                    <img src="~/Content/Images/line-bg.png" alt="" class="fr">
                </p>
                <div class="header-item">
                    <span class="card-icon card-icon-map"></span>
                    <p class="header-item-location">
                        <span id="card-location"></span>
                    </p>
                </div>
                <div class="header-item">
                    <span class="card-icon card-icon-clock"></span>
                    <p class="header-item-date">
                        <span id="card-dateTime"></span>
                    </p>
                </div>
            </div>
            <div class="header-sec">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a id="card-tel" href="tel:15117146077"><span class="callout"></span>电话</a></td>
                            <td><span class="middle-line"></span></td>
                            <td><a id="card-sms" href="sms:13588669999"><span class="icon-sms"></span>短信</a></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div class="header-item"><span class="card-icon card-icon-user"></span><p class="header-item-name">邀请人 <span id="card-consultantName"></span></p> </div>
                    <div class="header-item"><span class="card-icon card-icon-tel"></span><p class="header-item-name"><span id="card-consultantPhone"></span></p> </div>
                </div>
            </div>
        </header>  

    <section id="card-success-wechat" class="card-success" style="display:none;">
        <div class="success-notice">
            <p class="screenshot-notice">请截屏或关注玫琳凯中国服务号保存</p>
        </div>
        <div class="barcode">
            <div id="container">
                <canvas width="160px" height="160px"></canvas>
            </div>         

            <br>
            <span class="user-name"><span class="card-customerType"></span><span id="card-customer"></span></span>
        </div>
        <div class="user-notice">
            <p class="user-notice__1">请在入口处出示此券</p>
            <p class="user-notice__2">
                此二维码为入场凭证， <br>
                切勿任意转发或复制给其他顾客
            </p>
        </div>
    </section>
    <section id="card-success-brower" class="card-success card-success-2" style="display:none;">
        <div class="user-notice">
            <p class="user-notice__3"><span>请立即截屏保存</span></p>
        </div>
        <div class="barcode">
            <div id="container">
                <canvas width="160px" height="160px"></canvas>
            </div>
            
            <br>          
            <span class="user-name"><span class="card-customerType"></span><span id="card-customer-2"></span></span>
            <br>
            <span class="custody-notice">凭此二维码邀请券入场 <br>请妥善保管</span>
        </div>      
    </section>
    <div class="success-modal" style="display:none;">
        <div class="sm-header">
            <p>已成功领取邀请券！</p>
        </div>
        <div class="sm-body">
            <p>长按下图关注我们后，即可在“精彩活动-玫琳凯卡包”中随时查看、管理您的邀请卡</p>
            <img src="~/Content/images/wechat-code.gif" alt="二维码" class="barcode-img">
        </div>
        <div class="sm-footer">
            <span class="close" id="smClose"></span>
        </div>
    </div>
    <div class="success-modal-bg" style="display:none;">
    </div>
    </main>
