@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <meta name="screen-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Scripts/jQuery-1.11.2.js"></script>
    <script src="~/Scripts/vertical.screen.js"></script>
</head>
<body>
    <div class="wrap">
        <section class="item1">
            <div class="error">请在微信中打开</div>
        </section>
    </div>
    <!--横屏提示-->
   

    
    
</body>
</html>
