<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Community" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=Community" />
    <add key="ContactsLite" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=ContactsLite" />
  </appSettings>
</configuration>