<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Community" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=Community; initial catalog=Community" />
    <add key="DirShops" value="Data Source=vzdcedsql12\edsql12;Initial Catalog=DirShopNew;uid=DirShopNew_User;pwd=Admin8888"/>
    <add key="ContactsLite" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=MKCommunity; initial catalog=ContactsLite" />
    <add key="PageCount" value="3000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>