@{
    ViewBag.Title = "填写主办人信息";
}


@section navs{
爱PARTY 来宾名单 - 第一步 填写主办人信息
    }
<div style="height: 500px;">
    <table style="width: 600px;" border="0">
        <tr>
            <td>请填写活动<span style="font-weight: 600;">主办人</span>的12位编号：</td>
            <td>
                <input type="tel" id="CID" maxlength="12" style="width: 175px;" value="" onfocus="$('#DirErrMsg').html('')" /></td>
            <td id="DirErrMsg" style="color: #f00; width: 195px;"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <button type="submit" style="width: 150px; height: 30px;" id="SubmitNext" onclick="SubmitNextClick()">下一步</button></td>
        </tr>
    </table>

</div>
<input type="hidden" value="@ViewBag.User"  />
@section scripts{
    <script type="text/javascript">

        SubmitNextClick = function () {
            if (checkInput()) {
                $.post(applicationPath + "/PaperUpload/GetParty", { DirId: $("#CID").val() }, function (j) {
                    if (j.result) {
                        var msg = "您输入的主办人为 " + j.name + " ,编号 " + $("#CID").val() + "<br />您是否确认为该主办人的活动进行来宾名单上传？";
                        alertWin.confirmWin(
                            msg,
                            '确认',
                            '返回',
                            function () {
                                location.href = applicationPath + "/PaperUpload/choseparty?dirid=" + $("#CID").val();
                            });
                    } else {
                        alertWin.errAlert(j.errMsg);
                    }
                })
            }
        }

        var checkInput = function () {
            if ($("#CID").val().length < 1) {
                $("#DirErrMsg").html(" X  请输入主办人的12位编号！");
                //$("#CID").focus();
                return false;
            }

            if (!(/^\d{12}$/.test($("#CID").val()))) {
                $("#DirErrMsg").html(" X  请输入正确的12位编号！")
                //$("#CID").focus();
                return false;
            }
            return true;
        }

    </script>
}