<?xml version="1.0"?>
<appSettings>
 
  <!--ConnectionString-->
  <add key="Community" value="data source=EBIZRGCNQA;user id=siteuser; password=65BBB276;Max Pool Size=500;Application Name=PinkbusApplyTicketWinservice; initial catalog=Community" />
  <add key="PendingSize" value="10000"/>
</appSettings>
