<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="DBName" value="PinkBusCustomer.db"/>
  <add key="FormHeight" value="600"/>
  <add key="FormWidth" value="1000"/>
  <add key="BaseAPI" value="http://dev.api.marykay.com.cn/pinkbusclientservice/v1"/>
  <add key="SyncDataAPI" value="http://dev.api.marykay.com.cn/pinkbusclientservice/v1"/>
</appSettings>