<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="access_token" value="QAAAAJph4HvOtFKHFR4OMgU0TFLy-L3pYJWAgytNUtneoI5RDoWHAIUsmSiI0_8Gbi59Eawb3vHM-UBah1RojcDHJvUEAQAAQAAAAHdVBYvK-WGVvGwgfEN7L2qUT0D1idD3ui39rS2hKpREInYVw5kiAtxx9zsh0QqweyD0Eoa6_SWbO0na196cjIQh9BdiLj3YzGnJueJzNmn3JVQOeyfbOww995y1Evhur-d-yY2K6fEgorpCMkESZbkPA1k2JszR_JQgLNvabPQt7qDYRcAz0wbQbvS9-AymODVmrnSa_SFvul7fEeBNLBE5GPcTp1NKfJ1YHGT7_yERqMt1ZGnyP7Maq694p4uC0C1b1tcuBscqFSR16QqvWQwDwattSMYT2EEZYCSZJKxVfUxT-ANM2K9RVOkQBWhNapv1exDwCYsc0RI88VyK33E"/>
    <add key="Pinkbus" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=MobileAPI; initial catalog=ILMK" />
  </appSettings>
</configuration>