<?xml version="1.0"?>
<appSettings>
  <add key="Community" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=APBeautyContest; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=MKCommunity; initial catalog=ContactsLite" />
  <add key="StartDate" value="2015-11-7"/>
  <add key="EndDate" value="2015-12-31"/>
  <add key="PageCount" value="1000"/>

</appSettings>
