@{
    ViewBag.Title = "活动数据查询";
    
}
<div class="filter-form">
    <form class="form-inline">
        <div class="form-group">
            <label for="activityName">活动名称：</label>
            <input type="text" class="form-control form-control-l-w" id="activityName" placeholder=" ">
        </div>
        <div class="form-group">
            <label for="filterStartDate">活动时间：</label>
            <input type="text" class="form-control filter-form-date" id="filterStartDate" placeholder="">
            <span class="icon-date" id="calenStartDate"></span>
        </div>
        <div class="form-group">
            <label for="filterEndDate">&nbsp;&nbsp;到&nbsp;&nbsp; </label>
            <input type="text" class="form-control filter-form-date" id="filterEndDate" placeholder="">
            <span class="icon-date" id="calenEndDate"></span>
        </div>
        <button type="button" class="btn btn-outline btn-d-m btn-warning searchBtn">查询</button>
        <button type="reset" class="btn btn-outline btn-d-m btn-success">重置</button>
    </form>
</div>

<div class="activity-table EventList" style="min-height:400px">

</div>
<div class="pagination-row">
    <nav class="pull-right">
       
    </nav>
    <div class="page-indicator pull-left pageTxt">
        显示第<span id="StartCount">0</span>至<span id="EndCount">0</span>条，共<span id="TotalCount">0</span>条
    </div>
</div>


<!-- Modal -->
<div class="modal fade activity-modal__detail" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>
                <h4 class="modal-title" id="myModalLabel">产品使用数据</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 modal-table">
                        <table class="table table-bordered" id="tableSeeParticulars">
                            <tbody>
                                <tr>
                                    <td rowspan="2" style='vertical-align:middle;width:40%;'>邀约方式</td>
                                    <td style="width:30%">微信</td>
                                    <td style="width:30%" class="InvitByWechat"></td>
                                </tr>
                                <tr>
                                    <td>短信</td>
                                    <td class="InvitBySMS"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style='vertical-align:middle'>发送邀请券方式</td>
                                    <td>微信</td>
                                    <td class="SendTicketByWechat"></td>
                                </tr>
                                <tr>
                                    <td>短信</td>
                                    <td class="SendTicketBySMS"></td>
                                </tr>

                                <tr>
                                    <td rowspan="3" style='vertical-align:middle'>领取方式</td>
                                    <td>直接填写</td>
                                    <td class="GetTicketByBC"></td>
                                </tr>
                                <tr>
                                    <td>微信</td>
                                    <td class="GetTicketByWechat"></td>
                                </tr>
                                <tr>
                                    <td>短信</td>
                                    <td class="GetTicketBySMS"></td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style='vertical-align:middle'>签到方式</td>
                                    <td>二维码</td>
                                    <td class="CheckinByQRcode"></td>
                                </tr>
                                <tr>
                                    <td>口令</td>
                                    <td class="CheckinByToken"></td>
                                </tr>
                                <tr>
                                    <td>现场</td>
                                    <td class="CheckinByInput"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-d-m btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade activity-modal__detail" id="TicketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button>
                <h4 class="modal-title" id="myModalLabel">生效票务时段</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 modal-table">
                        <table class="table table-bordered " style=" text-align:center;">
                            <thead>
                                <tr>
                                    <th style=" text-align:center;">活动时段</th>
                                    <th width="20%" style=" text-align:center;">生效来宾券</th>
                                    <th width="20%" style=" text-align:center;">生效贵宾券</th>
                                </tr>
                            </thead>
                            <tbody id="SessionsTR">
                                <tr>
                                    <td  style='vertical-align:middle'>邀约方式</td>
                                    <td>微信</td>
                                    <td>30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-d-m btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@section require{
    <script type="text/javascript">
        require(['Views/index'])

    </script>
}

