@using IParty.RegisterCustomer.Mobile.Common;
@{
    ViewBag.Title = "来宾邀请券";
    var Token = Request.QueryString["Token"] ?? "";
    var ReferenceKey = Request.QueryString["ReferenceKey"] ?? "";
    var apiHost = IParty.RegisterCustomer.Mobile.Common.GlobalSettings.apiHost;
    var apiUrl = IParty.RegisterCustomer.Mobile.Common.GlobalSettings.apiUrl;

}
<script>
    var pageData = {
        Token: '@(Token)',
        referenceKey: "@(ReferenceKey)",
        apiHost: "@apiHost",
        apiUrl: "@apiUrl"

    };
    //alert(ko.toJSON(pageData));
</script>

<div id="mobile">
    <div class="top">
        <div class="text">
            <p style="font-size:36px; margin-bottom:50px;" data-bind="text:EventTitle"></p>
            <p class="add"><img src="~/content/images/web_03.png" style="position:absolute;top:5px;left:0;"><span data-bind="text:WorkshopLocation"></span></p>
            <p><img src="~/content/images/web_07.png" align="absbottom">&nbsp;&nbsp;<span data-bind="text:meetingtime"></span></p>
            <p><img src="~/content/images/web_10.jpg" align="absbottom"> &nbsp;邀请人 <span data-bind="text:ForwordName"></span> </p>
        </div>
    </div>
    <div data-bind="visible:!showQRCode()">
        <div class="white"></div>
        <div class="yqk">
            请填写您的个人信息来生成邀请卡
        </div>

        <div class="area">
            <span>姓名</span>
            <input type="text" placeholder="请填写" class="text" data-bind="value:name" required="required" maxlength="5">
        </div>

        <div class="area">
            <span>手机号码</span>
            <input type="text" placeholder="请填写" class="text tel" data-bind="value:mobile" pattern="[1][4578]\d{9}" maxlength="11" required="required" title="例如:15800000911">
        </div>


        <div class="line">
            <a href="javascript:void(0);" class="btn btnSubmit">生成邀请卡</a>
            <input type="submit" id="hideSubmit" style="display:none" />
        </div>
    </div>
    <div data-bind="visible:showQRCode()">

        <div class="ent">
            <p>报名成功</p>
            <p style="font-size:26px;">请截图保存,并在入口处出示此券</p>
        </div>

        <div class="erweima"><div id="qrcode"></div></div>

        <p class="text2">此二维码为入场唯一凭证，<br>切勿任意转发或复制给其他顾客</p>

        <div class="footer">温馨提示：记得截图保存该页面哦!</div>
    </div>
</div>


<script src="~/Scripts/Register.js"></script>

