@using IParty.RegisterCustomer.Mobile.Common;
@{
    ViewBag.Title = "【爱.Party】玫瑰，玫瑰，我爱你来宾邀请";
    var Token = Request.QueryString["Token"] ?? "";
    var ReferenceKey = Request.QueryString["ReferenceKey"] ?? "";
    var apiHost = IParty.RegisterCustomer.Mobile.Common.GlobalSettings.apiHost;
    var apiUrl = IParty.RegisterCustomer.Mobile.Common.GlobalSettings.apiUrl;

}
<script>
    var pageData = {
        Token: '@(Token)',
        referenceKey: "@(ReferenceKey)",
        apiHost: "@apiHost",
        apiUrl: "@apiUrl"

    };
    //alert(ko.toJSON(pageData));
</script>
<header class="header">
    <img src="~/Content/part2/images/header.png" class="pure-img" alt="" />
    <div class="header-sec">
        <div class="header-item"><span class="card-icon card-icon-map"></span>
            <p class="header-item-location" data-bind="text: WorkshopLocation"></p>
        </div>
        <div class="header-item"><span class="card-icon card-icon-clock"></span>
            <p class="header-item-date" data-bind="text: meetingtime"></p>
        </div>
        <div class="header-item"><span class="card-icon card-icon-user"></span>
            <p class="header-item-name">邀请人 <span data-bind="text: ForwordName"></span></p>
        </div>
    </div>

</header>
<div id="InfoView" data-bind="visible: !showQRCode()">
    <section class="card-form">
        <fieldset>
            <p class="legend">请填写您的个人信息来生成邀请卡</p>
            <div class="pure-u-1">
                <label for="name">姓名</label>
                <input id="name" class="pure-u-3-4" type="text" placeholder="请填写"  data-bind="value: name">
            </div>

            <div class="pure-u-1">
                <label for="tel">手机号码</label>
                <input id="tel" class="pure-u-3-4" type="tel" placeholder="请填写"  data-bind="value: mobile" maxlength="11">
            </div>
            <div class="pure-controls">
                <button type="button" class="pure-button pure-button-mk  btnSubmit">立即提交邀请卡</button>
            </div>
        </fieldset>
    </section>
    <article class="card-arc">
        <section>
            <h5 class="card-sec-header">
                <span>1.玫瑰花语</span>
            </h5>
            <div>
                <p>
                    红玫瑰代表热情和爱恋，白玫瑰代表纯洁和美好…你知道向心中的他诉说“天天想你”应该送多少朵玫瑰吗？
                </p>
                <p>
                    快来和我们一起来读玫瑰花语吧！
                </p>
                <img src="~/Content/part2/images/secimg1.jpg" class="pure-img" alt="" />
            </div>
        </section>
        <section>
            <h5 class="card-sec-header">
                <span>2.百变玫瑰</span>
            </h5>
            <div>
                <p>
                    色彩随心更换； 潮流唇语教你百变造型！
                </p>
                <video width="100%" controls poster="~/Content/part2/images/videoimg.jpg" preload>
                    <source src="http://dscnazepbeauresource02.marykay.com.cn/movie/ipartyInitation.mp4" type="video/mp4">
                    您的浏览器不支持此种视频格式。
                </video>
            </div>
        </section>
        <section>
            <h5 class="card-sec-header">
                <span>3.优雅玫瑰</span>
            </h5>
            <div>
                <p>
                    优雅是淑女的名片，优雅从细节中展现，一起来学淑女礼仪，你会爱上美丽优雅的自己！
                </p>
                <img src="~/Content/part2/images/secimg2.jpg" class="pure-img" alt="" />
            </div>
        </section>
        <section>
            <h5 class="card-sec-header">
                <span>3.绽放玫瑰</span>
            </h5>
            <div>
                <p>
                    聆听成功女性故事，感悟自己人生，相约瑰丽绽放！
                </p>
                <img src="~/Content/part2/images/secimg3.jpg" class="pure-img" alt="" />
            </div>
        </section>
        <section>
            <h5 class="card-sec-header">
                <span>着装要求</span>
            </h5>
            <div>
                <p>
                    玫瑰元素小礼服
                </p>
                <img src="~/Content/part2/images/secimg4.jpg" class="pure-img" alt="" />
                <p class="text-pink">
                    亲爱的，我带着你，你带着闺蜜，一起来“PARTY”吧！
                </p>
            </div>
        </section>
        <footer>
            <a type="submit" class="pure-button pure-button-mk" href="#">我要参加</a>
        </footer>
    </article>
</div>
<div id="MyQRCodeView" data-bind="visible: showQRCode()">
    <section>
    <div class="card-success1">
        <span class="card-check">

        </span>
        <h4>
            报名成功
        </h4>
        <p>
            请在入口处出示此券
        </p>
    </div>
    <div class="card-qrcode">
       <div id="qrcode"></div>
        <p>
            此二维码为入场唯一凭证 <br/>
            切勿任意转发或复制给其他顾客
        </p>
    </div>
</section>
<footer class="card-notice-footer">
    温馨提示：记得截图保存该页面哦!
</footer>
</div>



<script src="~/Scripts/Register.js"></script>

