<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=ContactsLite" />
  <add key="Contacts" value="data source=EBIZOECNUAT;user id=siteuser;password=q#PlJK6cdsZq;Max Pool Size=500;Application Name=CustomerAcquisition.Service;initial catalog=Contacts" />

  <add key="OAuthServiceURL" value="http://webservices.chnuat.mktest.com/OAuthService/OAuth/V2/VerifyAccessToken"/>
  <add key="EnableOAuthATValidation" value="true"/>
  <add key="EnableCommandContextValidation" value="false"/>
  <add key="ValidateCommandServiceURL" value="http://webservices.chnuat.mktest.com/Command/v1/Command/validate"/>

  <add key="SharedUrl" value="http://uat.yaoke.marykay.com.cn/CustomerAcquisition_H5/WelcomeCard?WelcomeCard="/>

  <!--4 Municipalities: Shanghai,Beijing,Tianjin,Chongqing-->
  <add key="Municipalities" value="1,4,5,13"/>
  <add key="PhoneNumberType" value="5"/>
  
</appSettings>
