<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MKSMSWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.chnqa.mktest.com/MKSMSWebService/MKSMSWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="MKSMSWSSoap"
                contract="DEVMKSMSWS.MKSMSWSSoap" name="MKSMSWSSoap" />
        </client>
    </system.serviceModel>
</configuration>