<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=ContactsLite" />
  <add key="MKCEBIZAPP" value="data source=EBIZOECNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=MKCEBIZAPP" />

  <add key="Environment" value="Development" />
  <add key="Region" value="CN" />
  <add key="InvitationTokenKey" value="0AD69463-D48F-4480-BE86-A6B07D71FB4B"/>

  <add key="EnforceDevelopmentContext.CN.Local" value="false" />
  <add key="EnforceDevelopmentContext.CN.Development" value="false" />
  <add key="OAuthServiceURL.CN.Local" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Development" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Staging" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.UAT" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Production" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />

  <add key="SendSMS" value="true"/>
  <add key="coHostConsultantMessageFormat" value="【玫琳凯】您已被{0}邀请联合承办{1}的{2}活动，活动详情请登陆“玫琳凯之窗App”并点击进入“公司活动”模块查看." />
  <add key="coHostConsultantsUpdateMessageFormat" value="【玫琳凯】您已被{0}从联合承办人名单中移除，您将不能再和{0}一起联合承办{1}的{2}活动."/>
  <add key="coHostConsultantDeleteMessageFormat" value="【玫琳凯】您所参与联合承办的{1}的{2}活动已被{0}取消" />
  <add key="smsType" value="29" />
  

  
  <!--wechart settings-->
  <add key="AccessTokenUrl" value="http://webservices.chndmz.com/highendapi/v1/wxoauth/accesstoken" />
  <add key="CancelCardUrl" value=" https://api.weixin.qq.com/card/code/unavailable?access_token={0}"/>
  <add key="ConsumeCardUrl"  value="https://api.weixin.qq.com/card/code/consume?access_token={0}"/>
  

  <add key="DirectorRoleError" value="您不是授权经销商，无法申请本次活动！" />
  <add key="AppliedDateError" value="申请活动时间不合格！" />
  <add key="PartyError" value="您无权修改该活动！" />
  <add key="DeleteError" value="您没有权限删除本次申请" />
  <add key="EventKeyError" value="活动申请不合法" />
  <add key="EventAppliedError" value="您已经申请了该活动" />
  <add key="EventAppliedCoHostError" value="您已经作为联合承办人申请了该活动" />
  <add key="CoHostError" value="您的联合承办人不在该工作室" />
  <add key="WorkShopError" value="您申请的工作室不合法。" />
  <add key="WorkShopDateError" value="您申请的工作室在该时段已经有活动。" />
  <add key="EventDateError" value="现在还不能申请该活动" />
  <add key="StartDateError" value="活动开始时间不合法" />
  <add key="EndDateError" value="活动结束时间不合法" />
  <add key="PhoneNameEmptyError" value="请填写姓名/手机号码！"/>
  <add key="InvalidPhoneNameError" value="请填写正确的姓名/手机号码！"/>
  <add key="WorkshopEmptyError" value="请选择一个工作室！"/>
  <add key="PartyDateEmptyError" value="请选择开始时间 / 结束时间！"/>
  <add key="InvalidPartyDateError" value="活动的结束时间必须晚于活动的开始时间！"/>
  <add key="PartyDateOneDayError" value="活动的结束时间必须与活动开始时间为同一天！"/>
  <add key="PartyDateOneMinuteError" value="活动结束时间比开始时间至少晚1分钟！"/>
  <add key="PartyNotExistsError" value="该活动不存在！"/>
  <add key="PartyNotInInvitationError" value="该活动不在邀约时间段内，无法报名！"/>
  <add key="ExpiredInvitationError" value="该活动已经过了邀约时间，无法报名！"/>
  <add key="DuplicatedAcceptitionError" value="您已报名本次活动，无法重复报名！"/>
  <add key="InvalidTokenError" value="邀请码无效！"/>
  <add key="InvalidQRCodeError" value="二维码无效或已使用！"/>
  <add key="InvalidCancelOperationError" value="当前邀约无法取消！"/>
  <add key="NoCustomerError" value="顾客不存在！"/>
</appSettings>
