<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=iParty.Service; initial catalog=ContactsLite" />
  <add key="Environment" value="Local" />
  <add key="Region" value="CN" />
  <add key="InvitationTokenKey" value="0AD69463-D48F-4480-BE86-A6B07D71FB4B"/>

  <add key="EnforceDevelopmentContext.CN.Local" value="true" />
  <add key="EnforceDevelopmentContext.CN.Development" value="false" />
  <add key="OAuthServiceURL.CN.Local" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Development" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Staging" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.UAT" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />
  <add key="OAuthServiceURL.CN.Production" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/VerifyAccessToken" />

  <!--Proxy settings-->
  <add key="ProxyHost" value="10.196.23.65"/>
  <add key="ProxyPort" value="80"/>
  <add key="UsePorxy" value="true"/>

  <!--wechart settings-->
  <add key="AccessTokenUrl" value="http://webservices.chndmz.com/highendapi/v1/wxoauth/accesstoken" />
  <add key="CancelCardUrl" value=" https://api.weixin.qq.com/card/code/unavailable?access_token={0}"/>
  <add key="ConsumeCardUrl"  value="https://api.weixin.qq.com/card/code/consume?access_token={0}"/>
</appSettings>
