<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=ContactsLite" />
  <add key="Contacts" value="data source=EBIZOECNPROD;user id=siteuser;password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service;initial catalog=Contacts" />

  <add key="OAuthServiceURL" value="http://webservices.chndmz.com/OAuthService/OAuth/V2/VerifyAccessToken"/>
  <add key="EnableOAuthATValidation" value="true"/>
  <add key="EnableCommandContextValidation" value="false"/>
  <add key="ValidateCommandServiceURL" value="http://webservices.chndmz.com/Command/v1/Command/validate"/>

  <add key="SharedUrl" value="https://pinkbus.marykay.com.cn/PinkBus_H5?TicketKey="/>

  <!--4 Municipalities: Shanghai,Beijing,Tianjin,Chongqing-->
  <add key="Municipalities" value="1,4,5,13"/>
  <add key="PhoneNumberType" value="5"/>
  <add key="DuplicatePhoneNumerErrorMessage" value="相同手机号已领取过邀请券，不允许重复提交"/>
  <add key="ConsultantLevelErrorMessage" value="不允许美容顾问领取邀请券"/>
  <add key="DirectSellerIdFailed_BestowalTicket" value="转增失败，编号或姓名输入错误"/>
  <add key="CosnultantLevelFailed_BestowalTicket" value="转增失败，仅限红外套及以上顾问"/>

  <add key="SMSUrl" value="http://webservices.chndmz.com/MKSMSWebService/MKSMSWS.asmx "/>
  <add key="SMSTypeId" value="52"/>
  <add key="InvitatedCustomer_Intouch_SMSTemplate" value="【玫琳凯】亲爱的{0}，{1}为您申请了一张粉巴美丽到家活动的{2}（时间：{3},地点：{4}）,请向其询问您的二维码邀请券或数字口令，并妥善保管至活动当日，在活动入口处向工作人员出示。静候您的光临，谢谢！"/>

  <add key="CancelTicket_Intouch_SMSTemplate" value="【玫琳凯】亲爱的{0}，您的{1}邀约券已由邀请人{2}取消，如有疑问，请与其联系确认"/>

</appSettings>
