<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MkAppSettings" type="MkCore.Configuration.MkAppSettingHandler,MkCore"/>
    <section name="contentProvider" type="MkCore.Providers.ProviderConfigurationSection, MkCore"/>
    <section name="messageProvider" type="MkCore.Providers.ProviderConfigurationSection, MkCore"/>
    <section name="messageRenderingProvider" type="MkCore.Providers.ProviderConfigurationSection, MkCore"/>
    <section name="MkCoreMessagingMessageValidationProvider" type="MkCore.Providers.ProviderConfigurationSection, MkCore"/>
  </configSections>

  <appSettings file="Configs/dev.config" />
  <MkAppSettings file="Config/MkAppSettings.config"/>

  <messageProvider defaultProvider="DatabaseMessageProvider">
    <providers>
      <add name="DatabaseMessageProvider" type="MessageDispatchService.China.MessageProviders.ChinaDatabaseMessageProvider, MessageDispatchService.China"/>
    </providers>
  </messageProvider>
  <messageRenderingProvider defaultProvider="MessageRenderingProvider">
    <providers>
      <add name="MessageRenderingProvider" type="MessageDispatchService.China.MessageRenderProvider.ChinaMessageRenderingProvider, MessageDispatchService.China"/>
    </providers>
  </messageRenderingProvider>
  <MkCoreMessagingMessageValidationProvider defaultProvider="MessageValidationProvider">
    <providers>
      <add name="MessageValidationProvider" ValidationTypes="OnSend" type="MkCore.Messaging.ValidationProviders.MessageValidationProvider, MkCore.Messaging"/>
    </providers>
  </MkCoreMessagingMessageValidationProvider>

	<!--<system.net>
		<defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://wjdcbptmg61.chn.mkcorp.com" />
    </defaultProxy>
	</system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\log\Resending_myListener.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
    <switches>
      <add name="TraceLevelSwitch" value="4"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
