<?xml version="1.0"?>
<appSettings>
 
  <!--ConnectionString-->
  <add key="Community" value="data source=EBIZRGCNQA;user id=siteuser; password=65BBB276;Max Pool Size=500;Application Name=APBeautyContest; initial catalog=Community" />
  <add key="DirShops" value="Data Source=vzdceqsql13\eqsql13;Initial Catalog=DirShopNew;uid=DirShopNew_User;pwd=Admin8888"/>
  <add key="ContactsLite" value="data source=EBIZRGCNQA;user id=siteuser; password=65BBB276;Max Pool Size=500;Application Name=MKCommunity; initial catalog=ContactsLite" />
  <add key="PageCount" value="3000"/>

</appSettings>
