<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="verbose" value="${longdate} | ${level} | ${logger} | ${machinename} |${processname} | ${message} ${newline}${exception:format=tostring}"/>
  <variable name="logdir" value="D:\logs\IParty" />
  <targets>
    <target name="infoOut" xsi:type="File" layout="${verbose}" fileName="${logdir}/infoOut.${shortdate}.log" />
    <target name="errOut" xsi:type="Mail" layout="${verbose}" smtpServer="msg01cas.chn.mkcorp.com" from="ipartyMobileSite@mkcorp.com"
                to="  Bill.Dou@mkcorp.com;"
                subject="Notification From ipartyMobileSite dev" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="infoOut" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errOut" />
  </rules>
</nlog>
