<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Community" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=iParty.Service.upload; initial catalog=Community" />
  <add key="checked" value="该用户已在活动现场签到，无需再作名单上传，请填写下一条来宾信息!"/>
  <add key="notunit" value="无法在该场活动内的沙龙中匹配到该邀约人，请检查后重试！若您确认邀约人编号输入无误，可以清空邀约人一栏后再尝试提交。"/>
  <add key="up30" value="该来宾身份为30级及以上的美容顾问，无权参加本活动。若您确认您的填写无误，请直接跳过本条来宾信息，填写下一位来宾信息。"/>
  <add key="notmyunit" value="该美容顾问或VIP来宾不属于本场活动内的沙龙，无权参加本场活动，若您确认您的填写无误，请直接跳过本条来宾信息，填写下一位来宾信息。"/>
  <add key="paperChecked" value="您已经成功提交过该来宾信息，无需重复提交！"/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="adminUser" value="chn\doubill*chn\wangann1*chn\chenlei1*chn\Ganj*chn\Wangwe*chn\rongk*chn\sunj*chn\gaoflora"/>
</appSettings>
