<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=ContactsLite" />
  <add key="Contacts" value="data source=EBIZOECNPROD;user id=siteuser;password=407CDCCF;Max Pool Size=500;Application Name=CustomerAcquisition.Service;initial catalog=Contacts" />

  <add key="OAuthServiceURL" value="http://webservices.chndmz.com/OAuthService/OAuth/V2/VerifyAccessToken"/>
  <add key="EnableOAuthATValidation" value="false"/>
  <add key="EnableCommandContextValidation" value="false"/>
  <add key="ValidateCommandServiceURL" value="http://webservices.chndmz.com/Command/v1/Command/validate"/>

  <add key="SharedUrl" value="https://pinkbus.marykay.com.cn/PinkBus_H5?TicketKey="/>

  <!--4 Municipalities: Shanghai,Beijing,Tianjin,Chongqing-->
  <add key="Municipalities" value="1,4,5,13"/>
  <add key="PhoneNumberType" value="5"/>
  
</appSettings>
