<?xml version="1.0" encoding="utf-8" ?>
<MkAppSettings>
	<!-- values for env are Development,Staging,Production as in MaryKay.Configuration.EnviromentType	-->
	<!-- default value and non-sub specific go here-->
	<add key="ContentRootUrl" env="Local" value="http://content2.dev.marykayintouch.com/" />
	<add key="ContentRootUrl" env="Development" value="http://content2.dev.marykayintouch.com/" />
	<add key="ContentRootUrl" env="Staging" value="http://content2.staging.marykayintouch.com/" />
	<add key="ContentRootUrl" env="Production" value="http://content2.marykayintouch.com/" />
	<add key="ContentRootUnc" env="Local" value="\\wddcedcnt201\ContentServer\" />
	<add key="ContentRootUnc" env="Development" value="\\wddcedcnt201\ContentServer\" />
	<add key="ContentRootUnc" env="Staging" value="\\wddcescnt201\ContentServer2\" />
	<add key="ContentRootUnc" env="Production" value="\\wddcepcnt101\ContentServer2\" />
  <add key="ContentRoot" value="D:\ContentRoot" />
	
</MkAppSettings>
