<?xml version="1.0"?>
<appSettings>
  <add key="Community" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=MKCommunity; initial catalog=Community" />
  <add key="SendStartTime" value="24" />
  <add key="SendEndTime" value="21" />
  <add  key="SMSContent" value="【玫琳凯】亲爱的{0}，您的{1}入场签到口令为{2}，请携此口令或二维码邀请券于{3}在{4}参加粉巴美丽到家活动，并在活动入口处向工作人员出示。静候您的光临，谢谢！"/>
  <add key="SMSTypeId" value="52"/>
</appSettings>
