@{
    Layout = null;
    var error = Request.QueryString["msg"] ?? "";
    if (error == "") { error = "没有找到您要访问的页面"; }
}
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>【爱.Party】向幸福出发</title>
<div class="box" style="text-align: center;">
    <img src="~/content/images/logo.jpg" class="logo">
    <br />
    <br />
    <br />
    <div class="text" style=" font-size:25px;">很抱歉<br>@error</div>
</div>
