@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="height:150px; width:150px;"><div id="qrcode"></div></div>


<script type="text/javascript">
    var qr = new QRCode("qrcode", {
        text: "asdfasdfasfd",
        width: 150,
        height: 150,
        correctLevel: QRCode.CorrectLevel.M
    });


</script>