<?xml version="1.0"?>
<appSettings>
  <add key="AppID" value="wx9e8c3131ff8a147e"/>
  <add key="OpenWechatUrl" value="https://open.weixin.qq.com/connect/oauth2/authorize"/>
  <add key="WechatSiteCallbackUrl" value="https%3a%2f%2fpassport.marykay.com.cn%2fRedirectionCenter%2fRedirect%3fredirectkey%3dqa_iparty%26Token%3dTokenval%26ReferenceKey%3dReferenceKeyval"/>
  <add key="PartyAPIUrl" value="http://qa.api.marykay.com.cn/iParty2/v1/"/>
  <add key="ShareTitle" value="【爱.Party】向幸福出发"/>
  <add key="ShareDesc" value="让“我们”更亲密、更相知、携手向幸福出发，快来参加玫琳凯6月特别为情侣/夫妻打造的爱.Party活动吧!"/>
  <add key="ShareImg" value="http://dscnazepmobileresource01.blob.core.chinacloudapi.cn/ipartyh5/Iparty_WechatShare.png"/>
  <add key="ShareHost" value="http://qa.marykay.com.cn/iparty/home/index"/>
  <add key="apiHost" value="http://qa.api.marykay.com.cn/Iparty2/easyxdm/cors/"/>
  <add key="apiUrl" value="http://qa.api.marykay.com.cn/Iparty2/v1/"/>

  <add key="OauthTokenUrl" value="https://oauth.marykayintouch.com.cn/OAuthServer/OAuth/ClientAuthorize"/>
  <add key="OauthAuthorizeCodeLogin" value="https://oauth.marykayintouch.com.cn/OAuthAdapterService/V1/wechat/user-tokens"/>
  <add key="OauthWechatUrl" value="https://oauth.marykayintouch.com.cn/OAuthAdapterService/V1/"/>
  <add key="ClientId" value="66E41EA5-0171-4475-AD0C-CEA76AF30076"/>
  <add key="ClientSecret" value="CE269C63-DDFE-40B0-A732-0473A0076E4B"/>
  <add key="Omniture_Account" value="marykaychinabeautycontestwebdev"/>

  <add key="TrackApiHost" value="http://qa.api.marykay.com.cn/WechatTempAPI/easyxdm/cors/"/>
  <add key="TrackApiUrl" value="http://qa.api.marykay.com.cn/WechatTempAPI/v1/"/>


</appSettings>
