<?xml version="1.0"?>
<appSettings>

  <!-- start: weixin config -->

  <!--WechatKeys-->
  <add key="Wechat_AppID" value="wx9e8c3131ff8a147e"/>
  <add key="Wechat_Appsecret" value="0c5e84abb25e9d42e024f68b1f1a8e7d"/>

  <!--ClientKeys-->
  <add key="ClientID" value="08FF44EB-EF83-43EF-9E3E-F910BF5C8EB4" />
  <add key="ClientSecret" value="B3510D32-9FBE-47DC-AB88-BF70E61A687E" />

  <!--微信授权API URL-->
  <add key="WechatAPIAuthorize" value="https://open.weixin.qq.com/connect/oauth2/authorize"/>

  <!--用户手动授权/静默授权  true/false  -->
  <add key="Snsapi_UserinfoForHome" value="false"/>
  <add key="Snsapi_UserinfoForShare" value="true"/>

  <!--OAuth 支持微信授权API URL  -->
  <add key="OauthWechatUrl" value="https://oauth.marykayintouch.com.cn/OAuthAdapterService/V1/"/>

  <!--OAuth 支持获取MKToken API URL  -->
  <add key="OauthTokenUrl" value="https://oauth.marykayintouch.com.cn/OAuthServer/OAuth/ClientAuthorize"/>

  <!--微信回调地址-->
  <add key="WechatSiteCallbackUrl" value="https%3a%2f%2fpassport.marykay.com.cn%2fRedirectionCenter%2fRedirect%3fredirectkey%3dProd_PinkBus%26returnurl%3durlval%26retry%3dretryval%26scope%3dscopeval"/>

  <!--通过unionID获取AT的API URL-->
  <add  key="GetAccessTokenAPIServer" value="https://OAuth.marykayintouch.com.cn/OAuthServer/OAuth/Token"/>

  <!--保持unionID到OAuth DB的API URL-->
  <add  key="SaveAccount" value="https://OAuth.marykayintouch.com.cn/OAuthServer/OAuth/SaveAccount"/>

  <!--用户操作记录收集-->
  <add key="TrackEventHost" value="https://api.marykay.com.cn/WechatTempAPI/easyxdm/cors/"/>
  <add key="TrackEventAPIUrl" value="https://api.marykay.com.cn/WechatTempAPI/v1/"/>

  <!--Omniture-->
  <add key="Omniture_Src" value="http://marykay.122.2o7.net/b/ss/marykaychinabeautycontestwebdev/1/H.25.4--NS/0"/>
  <add key="Omniture_Account" value="marykaychinabeautycontestweb"/>

  
  <add key="PinkBus_APIUrl" value="https://api.marykay.com.cn/PinkBusH5Service/v1/"/>

  <!--requirejs -->
  <add key="Script_Compress" value="true" />

  <!--VoteRemind-->
  <add key="WX_GetVoteRemindInfo" value="http://webservices.chndmz.com/wechat/WeChatService/UserInfo/List"/>
  <add key="WX_GetVoteRemindInfo_ClientId" value="EA224846-D96B-45F4-84E1-9EBA406768A5"/>
  <add  key="WX_GetVoteRemindInfo_BusinessCode" value="WX_Msg_MDM_Notificiation"/>
  <add  key="WX_GetVoteRemindInfo_AccountType" value="5"/>
  <add key="HttpProtocol" value="https"/>
  
  <add key="QRCodeUrl" value="https://qrCode.mkiapp.com/PinkBus/CheckIn/"/>
</appSettings>
