<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Community" value="data source=EBIZRGCNPROD;user id=siteuser; password=407CDCCF;Max Pool Size=500;Application Name=PinkbusManagement; initial catalog=Community" />
  <add key="JsMini" value="true" />
  <add key="EventPageSize" value="10" />
  <add key="Application" value="/PinkBusEventManagement" />
  <add key="Ver" value="9EA3D6F4-88A1-402D-A577-ACA06E31F0C7" />

</appSettings>

