<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>玫琳凯</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="cards-notice-body">
    <div class="cards-notice">
        <div class="cards-header">
            <span class="header-logo"></span>
        </div>
        <div class="cards-notice-body">
            <img src="~/images/noticebg.png" alt="" class="notice-img" />
            <p>
                亲爱的，这是一张玫琳凯粉巴中国行活动的邀请券，请您<span class="text-red">按活动时间前往活动现场</span>，并将此邀请券二维码<span class="text-red">向工作人员出示</span>，进行扫码签到入场。
            </p>
            <br />
            <p>
                如有疑问，可联系发送给您邀请券的美容顾问。
            </p>
        </div>
    </div>
    <script>
        //调整布局
        document.addEventListener("DOMContentLoaded", rs);
        window.onresize = rs;
        function rs() {
            var dw = document.documentElement.clientWidth;
            document.querySelector('body').style.fontSize = dw / 320 + "em";
        };
    </script>
</body>
</html>