<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Community" value="data source=vddcedsql20\edsql20,520;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=unittest; initial catalog=Community" />
    <add key="ContactsLite" value="data source=vddcedsql20\edsql20,520;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=BeautyContest.IntouchService; initial catalog=ContactsLite" />
    <add key="StartDate" value="2015-10-01"/>
    <add key="EndDate" value="2015-11-01"/>
    <add key="PageCount" value="3000"/>
  </appSettings>
</configuration>