<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNDEV;user id=siteuser; password=B161C90H;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=ContactsLite" />
  <add key="Contacts" value="data source=EBIZOECNDEV;user id=siteuser;password=B161C90H;Max Pool Size=500;Application Name=CustomerAcquisition.Service;initial catalog=Contacts" />

  <add key="OAuthServiceURL" value="http://webservices.chndev.mktest.com/OAuthService/OAuth/V2/VerifyAccessToken"/>
  <add key="EnableOAuthATValidation" value="false"/>
  <add key="EnableCommandContextValidation" value="false"/>
  <add key="ValidateCommandServiceURL" value="http://webservices.chndev.mktest.com/Command/v1/Command/validate"/>

</appSettings>
