<?xml version="1.0"?>
<appSettings>
  <!--Connectionstring-->
  <add key="Community" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=Community" />
  <add key="ContactsLite" value="data source=EBIZRGCNUAT;user id=siteuser; password=p2g8EBJn$X;Max Pool Size=500;Application Name=CustomerAcquisition.Service; initial catalog=ContactsLite" />
  <add key="Contacts" value="data source=EBIZOECNUAT;user id=siteuser;password=q#PlJK6cdsZq;Max Pool Size=500;Application Name=CustomerAcquisition.Service;initial catalog=Contacts" />

  <add key="OAuthServiceURL" value="http://webservices.chnuat.mktest.com/OAuthService/OAuth/V2/VerifyAccessToken"/>
  <add key="EnableOAuthATValidation" value="flase"/>
  <add key="EnableCommandContextValidation" value="false"/>
  <add key="ValidateCommandServiceURL" value="http://webservices.chnuat.mktest.com/Command/v1/Command/validate"/>

</appSettings>
