@{
    ViewBag.Title = "赠票名单";
    ViewData["UserType"] = PinkBus.EventManagement.Models.EventUserType.VIPBC;
    ViewData["Import"] = Model.VipImport;
}

@model PinkBus.EventManagement.Models.PB_Event

<div class="import__header">
    <p><label>活动名称：</label> <span>@Model.EventTitle</span></p>
</div>

@Html.Partial("~/views/home/partial/ConsultantList.cshtml",ViewBag.Consultants as object,ViewData)



@section require{
    <script type="text/javascript">
        require(['Views/vipBC'])
        
    </script>
}